page-home {
  .home-button {
    height: auto !important;
    min-width: 115px;
    width: 100%
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
  }

  .button-list {
      align-content: center !important;
  }

  .logout-button {
    margin: 5px 5px 5px 0px;
    width: 100%;
  }

  .navbar {
    background-color: #002538 !important;
  }
}
