<h2 class="form-header">
    Forgot Password
</h2>

<form #forgotForm="ngForm" (ngSubmit)="onSubmit(); forgotForm.reset()" class="clr-form clr-form-horizontal">
    <section class="form-block">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <label for="newPassword" 
          aria-haspopup="true" 
          role="tooltip" 
          class="tooltip tooltip-validation tooltip-md" 
        [class.invalid]="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)">
          <input type="password" 
          id="new" 
          placeholder="Enter new password" 
          required 
          name="new" 
          [(ngModel)]="model.password"
            #newPasswordInput="ngModel">
          <span class="tooltip-content">
            Enter new Password.
          </span>
        </label>
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <label for="confirm" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="confirmInput.invalid && (confirmInput.dirty || confirmInput.touched)">
          <!-- <input type="password" id="confirm" placeholder="Re-Enter password" required name="confirm" required [(ngModel)]="model.password" #emailInput="ngModel"> -->
          <input #confirmInput type="password" placeholder="Re-enter password">
          <span class="tooltip-content" *ngIf="confirmInput.hasError('required')">            
          </span>
        </label>
      </div>
      
      <button type="submit" class="btn btn-success" [disabled]="!forgotForm.form.valid">Reset Password</button>
    </section>
  </form>
